<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.xuyu.2fa</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>CABFB7FF-4B73-48F9-8ADA-9584CB874B84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7C85D58-AE68-4F31-8C3E-AB443A5B11B2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>xuyu</string>
	<key>description</key>
	<string>提取imessage验证码到粘贴板</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>2fa-Extract-verification-code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>2fa</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./main $1</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CABFB7FF-4B73-48F9-8ADA-9584CB874B84</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>C7C85D58-AE68-4F31-8C3E-AB443A5B11B2</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-workflow-message-code
alfred workflow 通过imessage.app 提取验证码到粘贴板.
提取最新10条验证码短信(需短信内容包含`验证码`三个字)
仅支持提取数字4-8位验证码. 
## 使用
直接下载workflow文件, 确认已经给alfred全部磁盘权限. 导入workflow后, 输入2fa即可查看验证码

## 原理
通过sqlite3读取Imessage的chat.db数据库, 筛选包含(验证码)的短信, 通过正则匹配4-8位数字验证码.</string>
	<key>uidata</key>
	<dict>
		<key>C7C85D58-AE68-4F31-8C3E-AB443A5B11B2</key>
		<dict>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
		<key>CABFB7FF-4B73-48F9-8ADA-9584CB874B84</key>
		<dict>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>105</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/vincentXu97/alfred-workflow-message-code</string>
</dict>
</plist>
